<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weeks</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Weeks</h1>
        <ul>
            {{range .}}
            <li>
                Week starting {{.StartDate}} 
                <a href="/days?week_id={{.ID}}"><button type="button">View Days</button></a>
            </li>
            {{end}}
        </ul>
        <a href="/"><button>Back to Home</button></a>
    </div>
</body>
</html>
